body {
  font-family: sans-serif;
  
  margin: 0px;
  padding: 0px;
  background: #272727;
  display: flex;
   
}

h1 {
  text-align: center;
  color: white;
}

.produto {
  background: white;
  margin: 10px 0;
  padding: 1em;
  border-radius: 5px;
}

input, button {
  display: block;
  width: 100%;
  margin: 0.5em 0;
  padding: 0.5em;
}

/* Painel do ADM */
.navBar{
  
  display: flex;

}

.navBar h1{
  position: fixed;
  left: 50%;
  z-index: 1000;
  color: #f3b302;
}

#logoNav{
  height: 100px;
  position: fixed;
   top: 10px;
  left: 40px;
  z-index: 1000; /* Garante que a navbar esteja acima de outros elementos */
  border-radius: 100px;
}

.addProduto{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:  #0c0c0c;
  padding: 50px;
  color: #f3b302;
  border: 3px #eff6fc solid;
  border-radius: 25px;
}

.addProduto input{
  background-color: transparent;
  border: 2px #f0f0f0 solid;
  border-radius: 25px;
  color: #ffffff;
}
.addProduto textarea{
  background-color: transparent;
  border: 2px #f0f0f0 solid;
  border-radius: 10px;
  color: #ffffff;
}
.addProduto button{
  background-color: #f3b302;
  border: none;
  border-radius: 25px;
  color: rgb(46, 46, 46);
}

.addProduto button:hover{
  background-color: #a57901;
  transition: 1s;

}

/* Tela de Produtos */

#produtos {
  position: relative;
  top: 150px;
  
   display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 16px;
  box-sizing: border-box; /* evita estouro */
}

.card{
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
}
.card img {
  width: 100%;
  height: 250px;
  object-fit: cover; /* Mantém a proporção e corta se necessário */
}
.card button{
  background-color: #f3b302;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}
.card button:hover {
  background-color: #a57901;
  cursor: pointer;
}
@media (max-width: 400px) {
  .card img {
    height: 160px;
  }
}
