body {
  font-family: sans-serif;

  margin: 0px;
  padding: 0px;
  background: #272727;
  

}

#bannerTopo {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

/* IMAGEM */
#bannerTopo img {
  width: 100%;
  height: 85vh;
  object-fit: fill;      /* permite distorcer */    
  object-position: center top;
  display: block;
}

/* DEGRADÊ INFERIOR */
#bannerTopo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 35%;
  background: linear-gradient(
    to bottom,
    rgba(39, 39, 39, 0) 0%,
    rgba(39, 39, 39, 0.4) 55%,
    rgba(39, 39, 39, 1) 100%
  );
  pointer-events: none;
}




/* icone menu */

.menu-wrapper {
  position: fixed;
  right: 20px;
  padding-top: 30px;
  z-index: 9999;
  transition: transform 0.3s ease;
}

.menu-scale {
  transform: scale(0.8);
  transform-origin: top right;
}

.menu {
  cursor: pointer;
}

.menu .small {
  transform: scale(0.8);
}


.ingredient {
  width: 160px;
  display: block;
  margin: 8px auto;
  border-radius: 40px;
  position: relative;
  overflow: hidden;
}

.bun {
  background: #d8a15d;
}

.meat {
  background: #5a2d1b;
  height: 18px;
}

.top {
  height: 26px;
}

.bottom {
  height: 22px;
}

.ingredient span {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff;
  opacity: 0;
  transform: translateX(-20px);
  transition: 0.4s ease;
}

/* MENU ABERTO */
.menu.open .ingredient span {
  opacity: 1;
  transform: translateX(0);
}

.menu.open .top {
  transform: translateY(-30px);
}

.menu.open .meat {
  transform: translateY(0);
}

.menu.open .bottom {
  transform: translateY(30px);
}

.ingredient {
  transition: transform 0.5s ease;
}


/* Base */

h1 {
  text-align: center;
  color: white;
}

.produto {
  background: white;
  margin: 10px 0;
  padding: 1em;
  border-radius: 5px;
}

input,
button {
  display: block;
  width: 100%;
  margin: 0.5em 0;
  padding: 0.5em;
}

/* Painel do ADM */
.navBar {

  display: flex;

}

.navBar h1 {
  position: fixed;
  left: 50%;
  z-index: 1000;
  color: #f3b302;
}

#logoNav {
  height: 120px;
  position: fixed;
  top: 10px;
  left: 40px;
  z-index: 1000; /* Garante que a navbar esteja acima de outros elementos */
  border-radius: 100px;
}

.addProduto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #0c0c0c;
  padding: 50px;
  color: #f3b302;
  border: 3px #eff6fc solid;
  border-radius: 25px;
}

.addProduto input {
  background-color: transparent;
  border: 2px #f0f0f0 solid;
  border-radius: 25px;
  color: #ffffff;
}

.addProduto textarea {
  background-color: transparent;
  border: 2px #f0f0f0 solid;
  border-radius: 10px;
  color: #ffffff;
}

.addProduto button {
  background-color: #f3b302;
  border: none;
  border-radius: 25px;
  color: rgb(46, 46, 46);
}

.addProduto button:hover {
  background-color: #a57901;
  transition: 1s;

}

/* Tela de Produtos */

#produtos {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  padding: 32px 16px;
  box-sizing: border-box;
}


.card {
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

   display: flex;
  flex-direction: column;
  min-height: 420px;

}

.card a {
  text-decoration: none;
}
.card p {
  margin-top: auto;   /* 🔥 empurra preço + botão */
  margin-bottom: 10px;
}
.card p strong {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 18px;
}



.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
}

.card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  /* Mantém a proporção e corta se necessário */
}

.card button {
  background-color: #f3b302;
  border-radius: 25px;
  text-decoration: none;
  transition: 0.3s;
}

.card button:hover {
  background-color: #a57901;
  cursor: pointer;
}

/* responsividade para telas menores */

/* Tela de 768px */
@media (max-width: 768px) {

  /* LOGO */
  #logoNav {
    height: 60px;
    top: 8px;
    left: 12px;
  }

  /* MENU HAMBURGUER */
  .menu-wrapper {
    right: 12px;
    top: 12px;
    padding-top: 0;
  }

  .menu-scale {
    transform: scale(0.7);
  }

  /* Degrade de cima no banner */

  #bannerTopo::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 25%;
    background: linear-gradient(
      to top,
      rgba(39, 39, 39, 0) 0%,
      rgba(39, 39, 39, 0.4) 55%,
      rgba(39, 39, 39, 1) 100%
    );
    pointer-events: none;
    z-index: 1;
  }

  /* EMPURRA O BANNER PARA BAIXO */
  #bannerTopo {
    margin-top: 90px;
  }

  /* GRID */
  #produtos {
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
    padding: 16px;
  }

  /* CARD */
  .card {
    padding: 16px;
    min-height: 360px;
  }

  /* IMAGEM */
  .card img {
    height: 180px;
  }

  /* TEXTO */
  .card h3 {
    font-size: 16px;
  }

  .card p {
    font-size: 14px;
  }

  .card p strong {
    font-size: 16px;
  }

  /* BOTÃO */
  .card button {
    padding: 12px;
    font-size: 16px;
  }

  /* LOGO */
  #logoNav {
    height: 90px;
    left: 20px;
  }

  /* BANNER */
  #bannerTopo img {
    height: 300px;
  }
}


/* Telas menores (400px) */

@media (max-width: 400px) {

  #logoNav {
  height: 80px;
}

#bannerTopo::before {
    height: 20%;
  }

#bannerTopo {
    margin-top: 70px;
  }

  #produtos {
    grid-template-columns: 1fr;
  }

  .card img {
    height: 150px;
  }

  .card {
    min-height: 340px;
  }
}

